@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-primary: 24 24 27; /* zinc-900 */
    --theme-surface: 250 250 250; /* zinc-50 */
    --theme-border: 228 228 231; /* zinc-200 */
    --theme-alert: 239 68 68; /* red-500 */
    --theme-success: 16 185 129; /* emerald-500 */
  }
}

body {
  color: rgb(var(--theme-primary));
  background: rgb(var(--theme-surface));
}
